* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.map {
    position: relative;

    .bg {
        width: 100%;
        height: 100%;
        -webkit-user-drag: none;
    }
    .houses {
        .block {
            transition: .3s;
            &:hover {
                opacity: 1;
                transition: .3s;

            }
            .house {
                position: absolute;
            }
            .h1a {
                top: 316px;
                left: 110px;
            }
            .h1b {
                top: 266px;
                left: 309px;
            }
            .h2a {
                top: 170px;
                left: 600px;
            }
            .h2b{
                top: 140px;
                left: 780px;
            }
            .h3a {
                top: 60px;
                left: 980px;
            }
            .h3b {
                top: 40px;
                left: 1140px;
            }
            .h4a {
                top: 520px;
                left: 541px;
            }
            .h4b {
                top: 460px;
                left: 725px;
            }
            .h5a {
                top: 358px;
                left: 975px;
            }
            .h5b{
                top: 305px;
                left: 1120px;
            }
            .h6a {
                top: 200px;
                left: 1370px;
            }
            .h6b {
                top: 169px;
                left: 1523px;
            }
        }
    }
}

@import '_var';
@import '_slider-module';

@media (max-width: 1360px) {
    .map {
        .bg {
            min-width: 1360px;
            max-height: 900px;
        }
        overflow: scroll;
    }
}