* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.map {
    position: relative;

    .bg {
        width: 100%;
        height: 100%;
        -webkit-user-drag: none;
    }
    .houses-mobile {
        .block {
            transition: .3s;
            opacity: 0;
            &:hover {
                opacity: 1;
                transition: .3s;

            }
            .house {
                position: absolute;
            }
            .h1a {
                top: 215px;
                left: 65px;
            }
            .h1b {
                top: 176px;
                left: 214px;
            }
            .h2a {
                top: 115px;
                left: 411px;
            }
            .h2b{
                top: 91px;
                left: 547px;
            }
            .h3a {
                top: 39px;
                left: 690px;
            }
            .h3b {
                top: 24px;
                left: 810px;
            }
            .h4a {
                top: 360px;
                left: 375px;
            }
            .h4b {
                top: 312px;
                left: 511px;
            }
            .h5a {
                top: 245px;
                left: 680px;
            }
            .h5b{
                top: 203px;
                left: 787px;
            }
            .h6a {
                top: 135px;
                left: 960px;
            }
            .h6b {
                top: 110px;
                left: 1075px;
            }
        }
    }
}

.houses-mobile {
    display: none;
    .house1a {
        position: absolute;
        top: 329px;
        left: 110px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

@import '_var';
@import '_slider-module';

@media (max-width: 1360px) {
    .map {
        .bg {
            min-width: 1360px;
            max-height: 900px;
        }
        .houses-mobile {
            display: block;
        }

        overflow: scroll;
    }
}